body,
#root {
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100dvh;
}

#root {
  flex: auto;
}

.text-box-trim,
.text-box-trim * {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  padding-block: 6px;
}
